*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-image {
    display: flex;
    float:left;
    margin: 0;
    padding: 0;
}

.logo-word {
    display:flex;
}

.navbar-nav {
    display: inline;
}

li {
    display: inline;
}

.brand-name {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
}

.header-login {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.main-box {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
}

#page-container {
    position: relative;
    height: auto;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.about {
    text-align: justify;
}
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 250px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    
}

#footer {
    display: table-row;
    height: 0;
}

.appointment_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

input[readonly] {
    background-color: #f8f8f8; 
    color: #666;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 8px 12px;
    font-size: 16px; 
    box-shadow: none; 
    cursor: not-allowed; 
}

input.formclass{ 
    border: 1px solid #ddd; 
    border-color: #ccc;
    border-radius: 5px; 
    padding: 8px 12px;
    font-size: 16px; 
    box-shadow: none; 
    cursor: text;
}

